/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/*Feu*/
.vis-item.vis-background.I, .vis-item.vis-background.V, .vis-item.vis-background.IX {
    background-color: #FFFCB4;
}

/*Terre*/
.vis-item.vis-background.II, .vis-item.vis-background.VI, .vis-item.vis-background.X {
    background-color: #E8DDCB;
}

/*Air*/
.vis-item.vis-background.III, .vis-item.vis-background.VII, .vis-item.vis-background.XI {
    background-color: #F6FFFB;
}

/*Eau*/
.vis-item.vis-background.IV, .vis-item.vis-background.VIII, .vis-item.vis-background.XII {
    background-color: #EEF9FB;
}