.md-toolbar-tools {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

/*Feu*/
.vis-item.vis-background.I, .vis-item.vis-background.V, .vis-item.vis-background.IX {
    background-color: #FFFCB4;
}

/*Terre*/
.vis-item.vis-background.II, .vis-item.vis-background.VI, .vis-item.vis-background.X {
    background-color: #E8DDCB;
}

/*Air*/
.vis-item.vis-background.III, .vis-item.vis-background.VII, .vis-item.vis-background.XI {
    background-color: #F6FFFB;
}

/*Eau*/
.vis-item.vis-background.IV, .vis-item.vis-background.VIII, .vis-item.vis-background.XII {
    background-color: #EEF9FB;
}